<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-md-center " id="navigation">
    <ul class="navbar-nav">
        <li class="nav-item "><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item "><a class="nav-link" href="features.html">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="documentation.html">Documentation</a></li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="nav_examples"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examples</a>
            <div class="dropdown-menu " aria-labelledby="nav_examples">
                <a class="dropdown-item tooltip_init " href="dataprospector.html" data-toggle="tooltip"
                   title="Initializing from two array - object">Example 1 - Simple example - Column naming, array list filtering</a>
                <a class="dropdown-item tooltip_init" href="dataprospector2.html" data-toggle="tooltip"
                   title="Initializing from two array - array">Example 2 - Initialized from js 2d array</a>
                <a class="dropdown-item tooltip_init" href="dataprospector3.html" data-toggle="tooltip"
                   title="Initializing from existing table">Example 3 - Init from existing table</a>
                <a class="dropdown-item tooltip_init" href="dataprospector4.html" data-toggle="tooltip"
                   title="Selection and download">Example 4 - Context menu</a>
                <a class="dropdown-item tooltip_init" href="dataprospector5.html" data-toggle="tooltip"
                   title="Init from file open">Example 5 - Load file</a>
                <a class="dropdown-item tooltip_init" href="dataprospector6.html" data-toggle="tooltip"
                   title="Init from array - array and advanced filters">Example 6 - Advanced filters</a>
                <a class="dropdown-item tooltip_init" href="dataprospector7.html" data-toggle="tooltip"
                   title="Use graph to visualize / filter">Example 7 - Plot and graph</a>
                <a class="dropdown-item tooltip_init" href="dataprospector8.html" data-toggle="tooltip"
                   title="Use graph to visualize / filter">Example 8 - Invert regexp filter</a>
                <a class="dropdown-item tooltip_init" href="dataprospector9.html" data-toggle="tooltip"
                   title="Use graph to visualize / filter">Example 9 - Plot and graph</a>
                <a class="dropdown-item tooltip_init" href="dataprospector10.html" data-toggle="tooltip"
                   title="Advanced filters on the fly edit">Example 10 - Advanced filters with editing</a>
            </div>
        </li>
    </ul>
</div>